@model   MovieMVC.Models.UserModelUnique


@{
    ViewBag.Title = "test2";
}
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <h2>test</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <h4>add user</h4>

            <div class="form-group">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "userModelName" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", id = "userModelSurname" })

            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input id="submitId" value="Create" class="btn btn-default" type="submit" />
                </div>
            </div>
        </div>


    }





</body>
</html>
